*$py.class
**/.claude/settings.local.json
*.acn
*.aux
*.bbl
*.blg
*.cover
*.dvi
*.egg
*.egg-info/
*.fdb_latexmk
*.fls
*.glo
*.gz
*.iml
*.ist
*.log
*.py,cover
*.py[cod]
*.so
.cache
.coverage
.coverage.*
.cursorignore
.cursorindexingignore
.dmypy.json
.DS_Store
.eggs/
.env
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints/
.mypy_cache/
.nox/
.pypirc
.pytest_cache/
.Python
.ropeproject
.ruff_cache/
.testmondata*
.tox/
.venv
.vscode/
/site
__pycache__/
__pypackages__/
aibolit.egg-info/
build/
catboost_info/*
cover/
coverage.xml
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
html
htmlcov/
lib/
lib64/
MANIFEST
node_modules/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
scripts/_tmp
scripts/target
sdist/
share/python-wheels/
sphinx
var/
venv.bak/
venv/
wheels/
wp.pdf
