__pycache__/
.coverage
.DS_Store
.idea/
.ipynb_checkpoints/
.mypy_cache/
.vscode/
*.acn
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glo
*.gz
*.iml
*.ist
*.log
aibolit.egg-info/
build/
catboost_info/*
dist/
html
node_modules/
scripts/_tmp
scripts/target
sphinx
venv/
wp.pdf
