target/
.idea/
*.iml
.DS_Store
__pycache__/
aibolit.egg-info/
build/
dist/
.coverage
venv/
aibolit/scripts/output
html
sphinx
.vscode/
models/
.ipynb_checkpoints/
.mypy_cache/
*.aux
*.log
*.json
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.acn
*.glo
*.ist
*.gz
*.acn
*.dvi
*.glo
*.ist
wp.pdf

