# SPDX-FileCopyrightText: Copyright (c) 2019-2026 Aibolit
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: checkmake
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  checkmake:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: Uno-Takashi/checkmake-action@v2
