# SPDX-FileCopyrightText: Copyright (c) 2019-2026 Aibolit
# SPDX-License-Identifier: MIT
---
name: docker-hub

# yamllint disable rule:line-length
on:
  push:
    branches:
      - master

concurrency:
  group: docker-hub-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docker:
    name: Publish Docker image
    runs-on: ubuntu-24.04
    permissions:
      checks: read
      contents: read
    steps:
      - uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKER_USERNAME }}/aibolit-image
          tags: |
            type=raw,value=latest
            type=sha,prefix=sha-
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
