# SPDX-FileCopyrightText: Copyright (c) 2019-2025 Aibolit
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: pylint
"on":
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  pylint:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.11
      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/0.7.13/install.sh | sh
          echo "$HOME/.cargo/bin" >> "$GITHUB_PATH"
      - run: make requirements
      - run: make pylint
